@import "./variables.scss";

// locked-page
.dashboard-locked-page {
  .dashboard-locked {
    background: $themeColor;
    height: 90vh;

    .dashboard-locked-background {
      background-position: center !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
    }

    .caption {
      .title {
        font-size: 3rem;
      }
      .subtitle {
        font-size: 1.1rem;
      }
    }
  }
}

// authenticated dashboard page
.dashboard-page {
  // min-height: 100vh;
  .control-panel {
    width: 15%;
    height: 100vh;
    background: linear-gradient(to bottom, #007acc, #007acc);

    .control-bars {
      .control-bar {
        opacity: 1; // temporary
        background: rgba($color: blue, $alpha: 0.1);
        padding: 22px 0;
        padding-left: 44px;
        transition: 0.2s;
        // border-left: 5px solid white;
        white-space: nowrap;
        &:hover {
          opacity: 1;
        }
        .icon {
          font-size: 1.4rem;
        }
      }
    }
  }

  .user-panel {
    background: $themeColor;
    width: 85%;
    height: 100vh;

    .title {
      font-size: 3rem;
    }

    .tracks {
      max-height: calc(100vh - 100px);
      overflow-y: auto;
      padding: 0 48px;
      .track {
        user-select: none;
        * {
          pointer-events: none;
        }
        .visit-btn {
          border: 1.4px solid #138496;
          color: #138496;
          pointer-events: auto;
          &:hover {
            background: #138496;
            color: white;
          }
        }
        .edit-btn,
        .check-btn {
          pointer-events: initial;
        }
        .switch {
          position: relative;
          display: inline-block;
          width: 60px;
          height: 34px;
        }
        .switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }
        .slider {
          pointer-events: auto;
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        input:checked + .slider {
          background-color: #2196f3;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px #2196f3;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
          border-radius: 34px;
        }

        .slider.round:before {
          border-radius: 50%;
        }
        border: none;
        transition: 0.3s;
        border: solid 1px white;
        cursor: pointer;
        &:hover {
          border: solid 1px #007bff;
        }
      }
    }
  }
}

@media (max-width: 1500px) {
  .dashboard-page {
    .control-panel {
      .control-bars {
        .control-bar {
          padding-left: 0;
          justify-content: center !important;
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  .dashboard-page {
    .control-panel {
      width: 15%;
      // padding: 0;
    }

    .user-panel {
      width: 85%;

      .tracks {
        padding: 0 24px;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .dashboard-page {
    .control-panel {
      position: fixed;
      bottom: 0;
      background: #007bff;
      // height: 50px;
      max-height: calc(100vh - 50px);
      width: 100vw;
      .control-bars {
        .control-bar {
          border-left: none;
          padding: 0;
          align-items: center !important;
          margin: 0 36px;
        }
      }
    }

    .user-panel {
      height: 100vh;
      width: 100vw;
      font-size: 0.9rem;
      .title {
        font-size: 2.5rem;
      }
      .tracks {
        padding: 0 12px;
      }
    }
  }
}
